# 1. Python Program to Add Two Matrices

In this program, you'll learn to add two matrices using Nested loop and Next list comprehension, and display it.

In Python, we can implement a matrix as a nested list (list inside a list). We can treat each element as a row of the matrix.

For example **`X = [[1, 2], [4, 5], [3, 6]]`** would represent a 3x2 matrix. First row can be selected as **`X[0]`** and the element in first row, first column can be selected as **`X[0][0]`**.

We can perform matrix addition in various ways in Python. Here are a couple of them.

In [ ]:
# Example: add two matrices using nested loop

X = [[12,9,3],
     [4,5,6],
     [7,8,3]]

Y = [[9,8,1],
     [6,7,3],
     [4,5,9]]

In [ ]:
# creating a zer0 3*3 matrix with nump
import numpy as np
result = np.zeros((3,3))
result

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
# Zero mateix by using List Comprehension
rows, cols = 3, 3
result = [([0]*cols) for i in range(rows)]

In [ ]:
# iterate through rows
for i in range(len(X)):
  # iterate through columns
  for j in range(len(Y)):
    result[i][j] = X[i][j] + Y[i][j]

In [ ]:
len(X),len(Y)

(3, 3)

In [ ]:
result

[[21, 17, 4], [10, 12, 9], [11, 13, 12]]

In [ ]:
for r in result:
  print(r)

[21, 17, 4]
[10, 12, 9]
[11, 13, 12]

**Explanation:**
    
In this program we have used nested **`for`** loops to iterate through each row and each column. At each point, we add the corresponding elements in the two matrices and store it in the result.

In [ ]:
# Add two matrices using list comprehension
X = [[12,9,3],
    [4,5,6],
    [7,8,3]]

Y = [[9,8,1],
    [6,7,3],
    [4,5,9]]

In [ ]:
result = [[X[i][j] + Y[i][j] for j in range(len(X[0]))] for i in range(len(X))]

In [ ]:
len(X[0])

3

In [ ]:
result

[[21, 17, 4], [10, 12, 9], [11, 13, 12]]

In [ ]:
for r in result:
  print(r)

[21, 17, 4]
[10, 12, 9]
[11, 13, 12]

# 2. Python Program to Transpose a Matrix

In this example, you will learn to transpose a matrix (which is created by using a nested list).

In Python, we can implement a matrix as a nested list (list inside a list). We can treat each element as a row of the matrix.

For example **`X = [[1, 2], [4, 5], [3, 6]]`** would represent a 3x2 matrix. The first row can be selected as **`X[0]`**. And, the element in the first-row first column can be selected as **`X[0][0]`**.

Transpose of a matrix is the interchanging of rows and columns. It is denoted as **`X'`**. The element at **`ith`** row and **`jth`** column in **`X`** will be placed at **`jth`** row and **`ith`** column in **`X'`**. So if **`X`** is a 3x2 matrix, **`X'`** will be a 2x3 matrix.

Here are a couple of ways to accomplish this in Python.

In [ ]:
# Transpose a matrix using a nested loop
X = [[12,9],
     [7,3],
     [5,6]]

In [ ]:
# Above is 3*2 matrix, so transpose will be 2*3 matrix
rows = 2
cols = 3
result = [([0]*cols) for i in range(rows)]
result

[[0, 0, 0], [0, 0, 0]]

In [ ]:
# iterate through rows
for i in range(len(X)):
  # iterate through columns:
  for j in range(len(X[0])):
    result[j][i] = X[i][j]

In [ ]:
len(X), len(X[0])

(3, 2)

In [ ]:
result

[[12, 7, 5], [9, 3, 6]]

In [ ]:
for r in result:
  print(r)

[12, 7, 5]
[9, 3, 6]

**Explanation:**
    
In this program we have used nested **`for`** loops to iterate through each row and each column. At each point we place the **`X[i][j]`** element into **`result[j][i]`**.

In [ ]:
# transpose a matrix using list comprehension

In [ ]:
X = [[12,9],
     [7,3],
     [5,6]]

In [ ]:
result = [[X[j][i] for j in range(len(X))] for i in range(len(X[0]))]
result

[[12, 7, 5], [9, 3, 6]]

In [ ]:
for r in result:
  print(r)

[12, 7, 5]
[9, 3, 6]

# 3. Python Program to Multiply Two Matrices

In this example, we will learn to multiply matrices using two different ways: nested loop and, nested list comprehension.

In Python, we can implement a matrix as nested list (list inside a list).

We can treat each element as a row of the matrix.

For example **`X = [[1, 2], [4, 5], [3, 6]]`** would represent a 3x2 matrix.

The first row can be selected as **`X[0]`**. And, the element in first row, first column can be selected as **`X[0][0]`**.

Multiplication of two matrices **`X`** and **`Y`** is defined only if the number of columns in **`X`** is equal to the number of rows **`Y`**.

If **`X`** is a **`n x m`** matrix and **`Y`** is a **`m x l`** matrix then, **`XY`** is defined and has the dimension **`n x l`** (but **`YX`** is not defined). Here are a couple of ways to implement matrix multiplication in Python.

In [ ]:
# Multiply 2 matrices using nested loops
# 3x3 matrix
X = [[12,9,3],
    [4,5,6],
    [7,8,3]]

# 3x4 matrix
Y = [[6,8,1,3],
    [5,7,3,4],
    [0,6,9,1]]

# No of columns in first matric must be equal to no of rows in second matrix

In [ ]:
# result should be 3*4 matric, create a 3*4 zero matrix
rows = 3
cols = 4
result = [([0]*cols) for i in range(rows)]
result

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [ ]:
# Initialize the result matrix with zeros
result = [[0 for _ in range(len(Y[0]))] for _ in range(len(X))]
result

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [ ]:
# iterate through rows of X
for i in range(len(X)):
   # iterate through columns of Y
   for j in range(len(Y[0])):
       # iterate through rows of Y
       for k in range(len(Y)):
            result[i][j] += X[i][k] * Y[k][j]

In [ ]:
result

[[117, 177, 66, 75], [49, 103, 73, 38], [82, 130, 58, 56]]

In [ ]:
for r in result:
  print(r)

[117, 177, 66, 75]
[49, 103, 73, 38]
[82, 130, 58, 56]

**Explanation:**
    
In this program we have used nested **`for`** loops to iterate through each row and each column. We accumulate the sum of products in the result.

This technique is simple but computationally expensive as we increase the order of the matrix.

For larger matrix operations we recommend optimized software packages like **[NumPy](http://www.numpy.org/)** which is several (in the order of 1000) times faster than the above code.

In [ ]:
# multiply matrices using list comprehension
# 3x3 matrix
X = [[12,9,3],
    [4,5,6],
    [7,8,3]]

# 3x4 matrix
Y = [[6,8,1,3],
    [5,7,3,4],
    [0,6,9,1]]

In [ ]:
# result is 3x4
result = [[sum(a*b for a,b in zip(X_row,Y_col)) for Y_col in zip(*Y)] for X_row in X]
result

[[117, 177, 66, 75], [49, 103, 73, 38], [82, 130, 58, 56]]

In [ ]:
list(zip(*Y)) # zip(*Y) transposes the matrix

[(6, 5, 0), (8, 7, 6), (1, 3, 9), (3, 4, 1)]

zip(*Y): The expression zip(*Y) transposes the matrix Y. It takes each column of Y and groups them together. This is done by unpacking Y using the * operator and passing it to the zip function. So, zip(*Y) returns an iterator over the columns of Y.

for Y_col in zip(*Y): This part of the list comprehension iterates over each column (Y_col) of the transposed matrix Y.

zip(X_row, Y_col): This expression pairs corresponding elements of the current row of X (X_row) with the current column of Y (Y_col). It creates an iterator that yields tuples containing the corresponding elements.

sum(a * b for a, b in zip(X_row, Y_col)): This calculates the dot product of the current row of X and the current column of Y. It uses a generator expression (a * b for a, b in zip(X_row, Y_col)) to iterate over corresponding elements of the row and column and calculate their product. Then, sum adds up all these products to compute the dot product.

for X_row in X: This part of the list comprehension iterates over each row (X_row) of matrix X.

In [ ]:
[[sum(a*b for a,b in zip(X_row,Y_col)) for Y_col in zip(*Y)] for X_row in X]

[[117, 177, 66, 75], [49, 103, 73, 38], [82, 130, 58, 56]]

# 4. Python Program to Check Whether a String is Palindrome or Not

In this program. you'll learn to check whether a string is palindrome or Not

A palindrome is a string that is the same read forward or backward.

For example, **`dad`** is the same in forward or reverse direction. Another example is **`aibohphobia`**, which literally means, an irritable fear of palindromes.

In [ ]:
my_str = 'aIbohPhoBiA'

# make it suitable for caseless comparision
my_str = my_str.casefold() # converts all to lower case
my_str

'aibohphobia'

In [ ]:
my_str_reverse = reversed(my_str)

In [ ]:
list(my_str)

['a', 'i', 'b', 'o', 'h', 'p', 'h', 'o', 'b', 'i', 'a']

In [ ]:
# list(my_str_reverse)

In [ ]:
if list(my_str) == list(my_str_reverse):
  print(f"The String {my_str} is Palindrome")
else:
  print(f"The String {my_str} is not Palindrome")

The String aibohphobia is Palindrome

In [ ]:
# using string method
def check_palindrome(s):
  if s == s[::-1]:
    return f"The String {s} is Palindrome"
  else:
    return f"The String {s} is not Plaindrome"

In [ ]:
check_palindrome(my_str)

'The String aibohphobia is Palindrome'

In [ ]:
check_palindrome('rajesh')

'The String rajesh is not Plaindrome'

In [ ]:
# using recursion
def is_palindrome_recursive(s):
  s = s.casefold()
  if len(s) <= 1:
    return True
  if s[0] != s[-1]:
    return False
  return is_palindrome_recursive(s[1:-1])

In [ ]:
s = 'aIbohPhoBiA'
s[0], s[-1]

('a', 'A')

In [ ]:
s[1:-1]

'IbohPhoBi'

In [ ]:
# Test the Function
is_palindrome_recursive(s)

True

In [ ]:
is_palindrome_recursive("Rajesh")

False

In [ ]:
# Using Iterative
def is_palindrome_iterative(s):
  s = s.casefold()
  i, j = 0, len(s)-1
  while i < j:
    if s[i] != s[j]:
      return False
    i += 1
    j -= 1
  return True

In [ ]:
# Test the function
is_palindrome_iterative(s)

True

In [ ]:
is_palindrome_iterative("Rajesh")

False

In [ ]:
# Check if Number is Plaindrome or not
n = 123321

In [ ]:
12321 % 10 # We will get last number

1

In [ ]:
123321 // 10 # Except last number we will get number

12332

In [ ]:
45674 % 10

4

In [ ]:
45674 // 10

4567

In [ ]:
n = 123321
temp = n
reverse = 0

In [ ]:
while temp > 0:
  remainder = temp % 10 # Gives the last number
  reverse = (reverse * 10) + remainder
  temp = temp // 10 # Gives number except last number

In [ ]:
reverse

123321

In [ ]:
if n == reverse:
  print("String is Palindrome")
else:
  print("String is not Palindrome")

String is Palindrome

# 5. Python Program to Remove Punctuations From a String

This program removes all punctuations from a string. We will check each character of the string using for loop. If the character is a punctuation, empty string is assigned to it.

Sometimes, we may wish to break a sentence into a list of words.

In such cases, we may first want to clean up the string and remove all the punctuation marks. For example.

In [ ]:
punctuations = string.punctuation
punctuations

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
my_str = "Hello!!!, how are you? -Hope doing well."

In [ ]:
# remove punctuations from above string
my_str_clean = ""
for char in my_str:
  if char not in punctuations:
    my_str_clean += char

In [ ]:
my_str_clean

'Hello how are you Hope doing well'

In [ ]:
# Using List comprehension
my_str_clean = ''.join([char for char in my_str if char not in punctuations])
my_str_clean

'Hello how are you Hope doing well'

In [ ]:
# using string.translate() and string.maketrans()
import string
def remove_punctuation_translate(text):
  translator = str.maketrans('','',string.punctuation)
  return text.translate(translator)

In [ ]:
remove_punctuation_translate(my_str)

'Hello how are you Hope doing well'

In [ ]:
# using string.replace()
def remove_punctuation_replace(text):
  for punctuation in string.punctuation:
    text = text.replace(punctuation, '')
  return text

In [ ]:
remove_punctuation_replace(my_str)

'Hello how are you Hope doing well'

In [ ]:
# using regex
import re

def remove_punctuation_regex(text):
    text = re.sub(r'[^\w\s]', '', text)
    return text

In [ ]:
remove_punctuation_regex(my_str)

'Hello how are you Hope doing well'

In [ ]:
# using filter
def remove_punctuation_filter(text):
  return ''.join(filter(lambda x: x.isalnum() or x.isspace(), text))

In [ ]:
remove_punctuation_filter(my_str)

'Hello how are you Hope doing well'

In [ ]:
def remove_pun(text):
  return ''.join(filter(lambda x: x not in string.punctuation, text))

In [ ]:
remove_pun(my_str)

'Hello how are you Hope doing well'

# 6. Python Program to Sort Words in Alphabetic Order

In this program, you'll learn to sort the words in alphabetic order using for loop and display it.

In this example, we illustrate how words can be sorted lexicographically (alphabetic order).

In [ ]:
my_str = "The quick brown fox jumps over the lazy dog"

In [ ]:
my_str_sort = [word.casefold() for word in my_str.split()]
my_str_sort

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [ ]:
my_str_sort.sort()

In [ ]:
my_str_sort

['brown', 'dog', 'fox', 'jumps', 'lazy', 'over', 'quick', 'the', 'the']

In [ ]:
# using sorted
sorted([word.casefold() for word in my_str.split()])

['brown', 'dog', 'fox', 'jumps', 'lazy', 'over', 'quick', 'the', 'the']

In [ ]:
# using sorted and lambda
sorted(my_str.split(), key = lambda x: x.casefold())

['brown', 'dog', 'fox', 'jumps', 'lazy', 'over', 'quick', 'The', 'the']

# 7. Python Program to Illustrate Different Set Operations

In this example, we have defined two set variables and we have performed different set operations: union, intersection, difference and symmetric difference.

Python offers a datatype called set whose elements must be unique. It can be used to perform different set operations like union, intersection, difference and symmetric difference.

In [ ]:
# Different set operations
m = {0, 2, 4, 6, 8, 10}
n = {1, 2, 3, 4, 5, 7}

In [ ]:
# set union
m | n
# Print all the values in m and n by removing duplicates

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10}

In [ ]:
# set Intersection
m & n
# print all the common values between m and n

{2, 4}

In [ ]:
# set difference
m - n
# returns a new set containing elements that are present in set m but not in set n.

{0, 6, 8, 10}

In [ ]:
# set symmetric difference
m ^ n
# It returns a new set containing elements that are present in either m or n, but not in both.

{0, 1, 3, 5, 6, 7, 8, 10}

# 8. Python Program to Count the Number of Each Vowel

In this program, you'll learn to count the number of each vowel in a string using dictionary and list comprehension.

In [ ]:
# count the number of each vowel
ip_str = 'Hello, have you visited my github python tutorials yet?'

In [ ]:
vowels = ['a','e','i','o','u','A','E','I','O','U']

In [ ]:
# using iterative process:
def vowel_count_iterative(input_str):
  vowel_count = {vowel: 0 for vowel in vowels}
  for c in input_str:
    if c in vowels:
      vowel_count[c] += 1
  return vowel_count

In [ ]:
vowel_count_iterative(ip_str)

{'a': 2,
 'e': 4,
 'i': 4,
 'o': 4,
 'u': 3,
 'A': 0,
 'E': 0,
 'I': 0,
 'O': 0,
 'U': 0}

In [ ]:
vowel_count = {}

In [ ]:
# Intialize vowels dictionary with zeros
 {vowel: 0 for vowel in vowels}

{'a': 0,
 'e': 0,
 'i': 0,
 'o': 0,
 'u': 0,
 'A': 0,
 'E': 0,
 'I': 0,
 'O': 0,
 'U': 0}

In [ ]:
# Using Dictionary
vowels = 'aeiou'

In [ ]:
ip_str = 'Hello, have you visited my github python tutorials yet?'

In [ ]:
# make it suitable for caseless comparisions
ip_str = ip_str.casefold()

In [ ]:
# make a dictionary with each vowel key and value 0
count = {}.fromkeys(vowels,0)
count

{'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

In [ ]:
# another way to make default dictionary
count = {vowel: 0 for vowel in vowels}
count

{'a': 0, 'e': 0, 'i': 0, 'o': 0, 'u': 0}

In [ ]:
for char in ip_str:
  if char in count:
    count[char] += 1

In [ ]:
count

{'a': 2, 'e': 4, 'i': 4, 'o': 4, 'u': 3}

In [ ]:
vowels = ['a','e','i','o','u','A','E','I','O','U']
ip_str = 'Hello, have you visited my github python tutorials yet?'

In [ ]:
# Using Dictionary comprehension
{vowel: sum(1 for char in ip_str if char == vowel) for vowel in vowels}

{'a': 2,
 'e': 4,
 'i': 4,
 'o': 4,
 'u': 3,
 'A': 0,
 'E': 0,
 'I': 0,
 'O': 0,
 'U': 0}

In [ ]:
def vowel_count_dict_comprehension(ip_str):
  vowels = ['a','e','i','o','u','A','E','I','O','U']
  return {vowel: sum(1 for char in ip_str if char == vowel) for vowel in vowels}

In [ ]:
vowel_count_dict_comprehension(ip_str)

{'a': 2,
 'e': 4,
 'i': 4,
 'o': 4,
 'u': 3,
 'A': 0,
 'E': 0,
 'I': 0,
 'O': 0,
 'U': 0}

In [ ]:
# Using filter and lambda
def vowel_count_filter(ip_str):
  vowels = ['a','e','i','o','u','A','E','I','O','U']
  return {vowel: len(list(filter(lambda x: x == vowel, ip_str))) for vowel in vowels}

In [ ]:
vowel_count_filter(ip_str)

{'a': 2,
 'e': 4,
 'i': 4,
 'o': 4,
 'u': 3,
 'A': 0,
 'E': 0,
 'I': 0,
 'O': 0,
 'U': 0}

In [ ]:
# Using regex
import re
def vowel_count_regex(ip_str):
  return {vowel: len(re.findall(vowel, ip_str)) for vowel in 'aeiouAEIOUD'}

In [ ]:
vowel_count_regex(ip_str)

{'a': 2,
 'e': 4,
 'i': 4,
 'o': 4,
 'u': 3,
 'A': 0,
 'E': 0,
 'I': 0,
 'O': 0,
 'U': 0,
 'D': 0}

# 9. Python Program to Merge Two Dictionaries

In this example, you will learn to merge two dictionaries into one in Python programming.

In [ ]:
d1 = {1:'a', 2:'b'}
d2 = {2:'c', 4:'d'}

In [ ]:
# merge using operator |
d = d1 | d2
d

{1: 'a', 2: 'c', 4: 'd'}

>**Note:** It works for python **3.9 and above** versions only.

**Explanation:**

**`|`** operator merges two dictionaries. If there are two same keys with different values on the two dictionaries, the later one is chosen for the merge operation.

In the above example, there are two key-value pairs with the same key **`2`**. The later one **`2:'c'`** is chosen for the merge.

In [ ]:
# using operator **
d = {**d1, **d2}
d

{1: 'a', 2: 'c', 4: 'd'}

In [ ]:
# using update
d1.update(d1)
d1.update(d2)
d1

{1: 'a', 2: 'c', 4: 'd'}

# 10.Python Program to Access Index of a List Using for Loop

In this example, you will learn to access the index of a list using a for loop.

In [ ]:
my_list = [21, 33, 66, 77]

In [ ]:
# Using enumerate
for index,value in enumerate(my_list):
  print(f"Index: {index}, Value: {value}")

Index: 0, Value: 21
Index: 1, Value: 33
Index: 2, Value: 66
Index: 3, Value: 77

In [ ]:
# start index with non zero value
for index,value in enumerate(my_list, start = 100):
  print(f"Index: {index}, Value: {value}")

Index: 100, Value: 21
Index: 101, Value: 33
Index: 102, Value: 66
Index: 103, Value: 77

In [ ]:
# without using enumerate how to print both index and value
for index in range(len(my_list)):
  print(f"Index : {index}, Value: {my_list[index]}")

Index : 0, Value: 21
Index : 1, Value: 33
Index : 2, Value: 66
Index : 3, Value: 77

# 11. Python Program to Make a Flattened List from Nested List

In this example, you will learn to make a flattened list from a nested list in Python.

In [ ]:
my_list = [[7], [6,5], [4,3,2,1]]

In [ ]:
flat_list = [num for sublist in my_list for num in sublist]
flat_list

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
# * Using list comprehension access the sublist from **`my_list`**, then access each element of the sublist.

In [ ]:
# using nested lops
flat_list = []
for sublist in my_list:
  for num in sublist:
    flat_list.append(num)

In [ ]:
flat_list

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
# using itertools package
import itertools
flat_list = list(itertools.chain(*my_list))
flat_list

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
# chain()`** method from itertools module returns each element of each iterable (i.e., sub lists ).

In [ ]:
# Using sum()
flat_list = sum(my_list, [])
flat_list

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Using Lambda and Reduce
from functools import reduce
reduce(lambda x, y : x+y, my_list)

[7, 6, 5, 4, 3, 2, 1]

# 12.Python Program to Slice Lists

In this example, you will understand different ways of list slicing in Python.

The format for list slicing is **[start:stop:step]**.

* **start** is the index of the list where slicing starts.
* **stop** is the index of the list where slicing ends.
* **step** allows you to select **nth** item within the range **start** to **stop**.

In [ ]:

my_list = [1, 2, 3, 4, 5, 6]

In [ ]:
# get all the items
my_list[:]

[1, 2, 3, 4, 5, 6]

**Explanation:**

If you simply use **`:`**, you will get all the elements of the list. This is similar to **`print(my_list)`**.

In [ ]:
# Get all the numbers after a specified position
my_list[2:]

[3, 4, 5, 6]

In [ ]:
# Get all the numbers before a specified position
my_list[:2] # any number after ":" is excluded. For Eg here 2 is excluded and it will print till 1st index

[1, 2]

In [ ]:
# Get all the elements from one positon to another position
my_list[2:4]  # prints from index 2 to 3

[3, 4]

In [ ]:
# Get the elements at a specified Intervals
my_list[::2] # prints elements at every 2nd interval

[1, 3, 5]

[6]

In [ ]:
# Index will start from last
my_list[::-2]

[6, 4, 2]

In [ ]:
my_list[1:5:3] # the elements from index 1 to 5 are sliced with intervals of 3

[2, 5]

# 13.Python Program to Sort a Dictionary by Value

In this example, you will learn to sort a Python dictionary by value.

In [ ]:
d = {7:8, 1:9, 6:3}

In [ ]:
# Sorting only on the values
sorted(d.values())

[3, 8, 9]

In [ ]:
# Sort the dictionary based on values
sorted_d = {key: value for key, value in sorted(d.items(), key = lambda item: item[1])}
sorted_d

{6: 3, 7: 8, 1: 9}

In [ ]:
d.items()

dict_items([(7, 8), (1, 9), (6, 3)])

In [ ]:
# Sort the dictionary based on keys
{key: value for key, value in sorted(d.items(), key = lambda item: item[0])}

{1: 9, 6: 3, 7: 8}

# 14. Python Program to Check If a List is Empty

In [ ]:
my_list = []

In [ ]:
if not my_list:
  print("List is Empty")
else:
  print("List is not Empty")

List is Empty

In [ ]:
if not len(my_list):
  print("List is Empty")
else:
  print("List is not Empty")

List is Empty

# 15. Python Program to Concatenate Two Lists

In [ ]:
l1 = [7, 'n', 'm']
l2 = [3, 6, 9]

In [ ]:
# using +
l1 + l2

[7, 'n', 'm', 3, 6, 9]

In [ ]:
# using iterable unpacking operator
[*l1, *l2]
# `*`operator allows unpacking inside the list or tuple.

[7, 'n', 'm', 3, 6, 9]

In [ ]:
# join with unique values
list(set(l1 + l2))
# with set the values will be unordered

[3, 'n', 6, 7, 'm', 9]

In [ ]:
# using extend()
l2.extend(l1)
l2
# l1 will be appended after l2 values

[3, 6, 9, 7, 'n', 'm']

# 16. Python Program to Check if a Key is Already Present in a Dictionary

In [ ]:
d = {1:'a', 2:'b', 3:'c'}

In [ ]:
d.items()

dict_items([(1, 'a'), (2, 'b'), (3, 'c')])

In [ ]:
list(d.keys())

[1, 2, 3]

In [ ]:
if 1 in d:
  print("Present")
else:
  print("Not Present")

Present

In [ ]:
1 in d.keys()

True

In [ ]:
1 in d.values()

False

# 17. Python Program to Split a List Into Evenly Sized Chunks

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 2

In [ ]:
def split(my_list, chunk_size):
  for i in range(0, len(my_list), chunk_size):
    yield my_list[i:i + chunk_size]

In [ ]:
list(split(my_list, chunk_size))

[[1, 2], [3, 4], [5, 6], [7, 8], [9]]

In [ ]:
# yield keyword to create a generator function. It yields a chunk of the list starting from index i and ending at index i + chunk_size.

In [ ]:
# using list comprehension
[my_list[i:i + chunk_size] for i in range(0, len(my_list), chunk_size)]

[[1, 2], [3, 4], [5, 6], [7, 8], [9]]

In [ ]:
# using numpy
import numpy as np
print(np.array_split(my_list, 5)) # 5 means it divides it into 5 equal parts

[array([1, 2]), array([3, 4]), array([5, 6]), array([7, 8]), array([9])]

# 18. Python Program to Parse a String to a Float or Int

In [ ]:
# parse string into integer
balance_str = "1900"
balance_int = int(balance_str)

In [ ]:
type(balance_int)

int

In [ ]:
balance_int

1900

In [ ]:
# parse string into float
balance_str = "1900.6"
balance_float = float(balance_str)

In [ ]:
type(balance_float)

float

In [ ]:
balance_float

1900.6

In [ ]:
# string float numeral to integer
balance_str = "1900.36"
balance_int = int(float(balance_str))

In [ ]:
type(balance_int)

int

In [ ]:
balance_int

1900

# 19. Python Program to Convert String to Datetime

In [ ]:
# using datetime module
from datetime import datetime

In [ ]:
my_date_string = "Aug 9 2018 11:11AM"

In [ ]:
datetime_object = datetime.strptime(my_date_string, '%b %d %Y %I:%M%p')
datetime_object

datetime.datetime(2018, 8, 9, 11, 11)

In [ ]:
type(datetime_object)

datetime.datetime

In [ ]:
# using dateutil module
from dateutil import parser
date_time = parser.parse("Aug 9 2018 11:11AM")

In [ ]:
print(date_time)

2018-08-09 11:11:00

In [ ]:
print(type(date_time))

<class 'datetime.datetime'>

# 20. Python Program to Randomly Select an Element From the List

In [ ]:
my_list = ['a', 1, 'b', 2, 'c', 3, 3.14]

In [ ]:
import random
random.choice(my_list)

3.14

In [ ]:
random.choice(my_list)

1

In [ ]:
import secrets
secrets.choice(my_list)

1

In [ ]:
secrets.choice(my_list)

3.14

# 21. Python Program to Check If a String Is a Number (Float)

In [ ]:
def is_float(num):
  try:
    float(num)
    return True
  except ValueError:
    return False

In [ ]:
is_float("s61")

False

In [ ]:
is_float(3.14)

True

# 22. Python Program to Count the Occurrence of an Item in a List

In this example, you will learn to count the occurrence of an item in a list.

In [ ]:
my_list = ['a', 1, 'a', 2, 'a', 3.14]

In [ ]:
# using couht method
my_list.count('a')

3

# 23. Python Program to Delete an Element From a Dictionary

In [ ]:
d = {33: 'a', 77: 'b', 99: 'c'}

In [ ]:
# using del keyboard
del d[33]

In [ ]:
d

{77: 'b', 99: 'c'}

In [ ]:
# using pop() method
d = {33: 'a', 77: 'b', 99: 'c'}

In [ ]:
deleted = d.pop(33)
d

{77: 'b', 99: 'c'}

In [ ]:
deleted # we can retrieve delted one if we use pop. by using del we can't retrieve

'a'

# 24. Python Program to Convert Two Lists Into a Dictionary

In [ ]:
index = [1, 2, 3]
languages = ['python', 'java', 'c']

In [ ]:
# using zip and dict
d = dict(zip(index, languages))
d

{1: 'python', 2: 'java', 3: 'c'}

In [ ]:
list(zip(index, languages)) # here we will get list of tuples

[(1, 'python'), (2, 'java'), (3, 'c')]

In [ ]:
# using list comprehension
d = {k: v for k,v in zip(index, languages)}
d

{1: 'python', 2: 'java', 3: 'c'}

# 25. Python Program to Trim Whitespace From a String

In [ ]:
my_string = " Python4DataScience "

In [ ]:
my_string.strip() # removes white space

'Python4DataScience'

In [ ]:
my_string = " \nPython4DataScience "

In [ ]:
print(my_string.strip(" "))

Python4DataScience

In [ ]:
# using regular expressions
import re

In [ ]:
my_string  = " Hello World "

In [ ]:
output = re.sub(r'^\s+|\s+$', '', my_string)
output

'Hello World'

In [ ]:
# This line uses the re.sub() function to perform a substitution on my_string.
# re.sub() is a function from the re module that substitutes occurrences of a pattern in a string with a replacement string.
# The first argument r'^\s+|\s+$' is a regular expression pattern.
# ^ asserts the start of the string.
# \s+ matches one or more whitespace characters.
# | is an OR operator.
# \s+$ matches one or more whitespace characters at the end of the string.
# The second argument '' is the replacement string, in this case, an empty string ''.
# The third argument my_string is the input string on which the substitution is performed.

# 26. Python Program to Differentiate Between `del`, `remove`, and `pop` on a List

In this example, you will learn to differentiate between **`del`**, **`remove`**, and **`pop`** on a list.

In [ ]:
my_list = [1, 2, 3, 4]
del my_list[1]
my_list

[1, 3, 4]

**Explanation:**

**`del`** can delete the entire list with a single statement whereas **`remove()`** and **`pop()`** cannot.

In [ ]:
my_list = [1, 2, 3, 4]
del my_list

In [ ]:
my_list # list is deleted

NameError: name 'my_list' is not defined

Moreover, it can also remove a specific range of values, unlike **`remove()`** and **`pop()`**.

In [ ]:
my_list = [1, 2, 3, 4]
del my_list[3:]
my_list

[1, 2, 3]

### Error mode

If the given item is not present in the list, **`del`** gives an **`IndexError`**.

In [ ]:
my_list = [1, 2, 3, 4]
del my_list[4]

IndexError: list assignment index out of range

## Use of `remove`

**`remove()`** deletes the specified item.

In [ ]:
my_list = [1, 2, 3, 4]

In [ ]:
my_list.remove(2)
my_list

[1, 3, 4]

In [ ]:
my_list.remove(4)
my_list

[1, 3]

### Error mode

If the given item is not present in the list, **`del`** gives an **`ValueError`**.

In [ ]:
my_list = [1, 2, 3, 4]

In [ ]:
my_list.remove(12) # If element is not there, it raises ValueError

ValueError: list.remove(x): x not in list

## Use of `pop`

**`pop()`** removes the item at a specified position and returns it.

In [ ]:
my_list = [1, 2, 3, 4]

In [ ]:
my_list.pop(2) # removes element from 2nd position
my_list

[1, 2, 4]

In [ ]:
my_list = [1, 2, 3, 4]
my_list.pop(4) # raise index error if specified position is not in list

IndexError: pop index out of range

# 27. Python Program to Iterate Through Two Lists in Parallel

In [ ]:
l1 = [1, 2, 3, 4, 5]
l2 = ['a', 'b', 'c']

In [ ]:
for i, j in zip(l1, l2):
  print(i, j)

1 a
2 b
3 c

In [ ]:
l3 = ['a', 'b', 'c', 'd', 'e']

In [ ]:
for i,j in zip(l1, l3):
  print(i, j)

1 a
2 b
3 c
4 d
5 e

# 28. Python Program to Count the Number of Digits Present In a Number

In [ ]:
num = 963969
count = 0

In [ ]:
num // 10 # Except last number gives the rest of the number

96396

In [ ]:
96396 // 10

9639

In [ ]:
while num != 0:
  num = num // 10
  count += 1

In [ ]:
count

6

In [ ]:
# using string
num = 963969
len(str(num))

6

# 29. Python Program to Check If Two Strings are Anagram

In [ ]:
str1 = "Heart"
str2 = "Earth"

In [ ]:
str1 = str1.lower()
str2 = str2.lower()

In [ ]:
if(len(str1) == len(str2)):
  # sort the strings
  sorted_str1 = sorted(str1)
  sorted_str2 = sorted(str2)

  if sorted_str1 == sorted_str2:
    print("Strings are Anagrams")
  else:
    print("Strings are not Anagrams")

Strings are Anagrams

# 30. Python Program to Compute all the Permutation of the String

In [ ]:
input_str = "eat"

In [ ]:
[c for c in input_str]

['e', 'a', 't']

In [ ]:
# using recursion
def get_permutation_recursive(string, i = 0):
  if i == len(string):
    print("".join(string))

  for j in range(i, len(string)):

    letters = [c for c in string]

    # swap
    letters[i], letters[j] = letters[j], letters[i]

    get_permutation_recursive(letters, i+1)

In [ ]:
get_permutation_recursive(input_str)

eat
eta
aet
ate
tae
tea

In [ ]:
# get_permutation_recursive("rajesh")

In [ ]:
# using itertools
from itertools import permutations

In [ ]:
words = [''.join(p) for p in permutations('eat')]
words

['eat', 'eta', 'aet', 'ate', 'tea', 'tae']

# 31. Python Program to Count the Number of Occurrence of a Character in String

In [ ]:
my_string = "Python4DataScience"
my_char = "a"

In [ ]:
# using method count()
my_string.count(my_char)

2

In [ ]:
# using for loop
count = 0
for i in my_string:
  if i == my_char:
    count += 1
print(count)

2

In [ ]:
# using list comprehension
sum([1 for i in my_string if i == my_char])

2

# 32. Python Program to Remove Duplicate Element From a List

In [ ]:
my_list = [1, 3, 1, 6, 9]

In [ ]:
# using set()
list(set(my_list))

[1, 3, 6, 9]

In [ ]:
# Example 2: Remove the items that are duplicated
l1 = [1, 3, 1, 6, 9]
l2 = [7, 5, 2, 8]

In [ ]:
list((set(l1) ^ set(l2)))

[1, 2, 3, 5, 6, 7, 8, 9]

# 33. Python Program to Check Leap Year

A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

For example:
* 2017 is not a leap year
* 1900 is a not leap year
* 2012 is a leap year
* 2000 is a leap year

In [ ]:
def check_leap_year(year):
  if (year % 4) == 0:
    if (year % 100) == 0:
      if (year % 400) == 0:
        print(f"The year {year} is a leap year")
      else:
        print(f"The year {year} is not a leap year")
    else:
      print(f"The year {year} is not a leap year")
  else:
    print(f"The year {year} is not a leap year")

In [ ]:
check_leap_year(2022)

The year 2022 is not a leap year

if (year % 4) == 0:: This line checks if the given year is divisible by 4 without leaving a remainder. If it is, it could be a leap year because leap years occur every 4 years.

if (year % 100) == 0:: If the year is divisible by 4, this line checks if it's also divisible by 100. If it is, it may not be a leap year because century years (years ending in '00') are not leap years unless they are divisible by 400.

if (year % 400) == 0:: If the year is divisible by 100, this line checks if it's also divisible by 400. If it is, it is considered a leap year because it meets the exception to the rule applied in step 2.

# 34. Python Program to Check Prime Number

A positive integer greater than 1 which has no other factors except 1 and the number itself is called a prime number. 2, 3, 5, 7 etc. are prime numbers as they do not have any other factors. But 6 is not prime (it is composite) since, **`2 x 3 = 6`**.

In [ ]:
# using flag
def check_prime_flag(num):
  flag = False
  # prime number is greater than 1
  if num > 1:
    # check for factors
    for i in range(2, num):
      if num % i == 0:
        # if its divisible by any number, set flag = true
        flag = True
        break
  return flag

In [ ]:
if check_prime_flag(2):
  print(f"The number is not prime")
else:
  print("The number is prime")

The number is prime

# 35. Python Program to Print all Prime Numbers in an Interval

In [ ]:
def check_prime(num):
  flag = False
  # prime number is greater than 1
  if num > 1:
    # check for factors
    for i in range(2, num):
      if num % i == 0:
        flag = True
        break
  return flag

In [ ]:
check_prime(7)

False

In [ ]:
lower = 100
upper = 200
def get_primes_in_interval(lower, upper):
  prime_list = []
  for i in range(lower, upper+1):
    if not check_prime(i):
      prime_list.append(i)
  return prime_list

In [ ]:
get_primes_in_interval(lower, upper)

[101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199]

# 36. Python Program to Find the Factorial of a Number

The factorial of a number is the product of all the integers from 1 to that number.

For example, the factorial of 6 is **`1*2*3*4*5*6 = 720`**. Factorial is not defined for negative numbers, and the factorial of zero is one, **`0! = 1`**.

In [ ]:
num = 6
factorial = 1

if num < 0:
  print("Sorry Factorial doesn't exist for the Negative numbers")
elif num == 0:
  print("The Factorial of 0 is 1")
else:
  for i in range(1, num+1):
    factorial = factorial*i
  print(f"The Factorial for the number {num} is {factorial}")

The Factorial for the number 6 is 720

In [ ]:
# using method - iterative
def factorial_iterative(num):
  result = 1
  if num < 0:
    return "Factorial doesn't exist for negative numbers"
  elif num == 0:
    return "Factorial for 0 is 1"
  else:
    for i in range(1, num+1):
      result *= i
    return result

In [ ]:
factorial_iterative(6)

720

In [ ]:
factorial_iterative(7)

5040

In [ ]:
factorial_iterative(0)

'Factorial for 0 is 1'

In [ ]:
factorial_iterative(-1)

"Factorial doesn't exist for negative numbers"

In [ ]:
# using recursive
def factorial_recursive(n):
  if n == 0:
    return 1
  else:
    return n * factorial_recursive(n-1)

In [ ]:
factorial_recursive(6)

720

# 37. Python Program to Display the multiplication Table

In [ ]:
def get_multiply_table(n):
  for i in range(1,11):
    print(f"{n} * {i} = {n*i}")

In [ ]:
get_multiply_table(15)

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [ ]:
get_multiply_table(19)

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

# 38. Python Program to Print the Fibonacci sequence

In [1]:
# brute force way
nterms = 8
n1 = 0
n2 = 1
count = 0

In [2]:
if nterms <= 0:
  print("Please enter positive number")
elif nterms == 1:
  print(f"Fibonaaci series for {nterms} is : {n1}")
else:
  while count < nterms:
    print(n1)
    nth = n1 + n2
    n1 = n2
    n2 = nth
    count += 1

0
1
1
2
3
5
8
13

In [3]:
# iterative method
def fibonaaci_iterative(n):
  fib_sequence = [0,1]
  for i in range(2, n):
    fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
  return fib_sequence

In [4]:
fibonaaci_iterative(8)

[0, 1, 1, 2, 3, 5, 8, 13]

In [9]:
# using recursive
def fib_recursive(n):
  if n <= 1:
    return n
  else:
    return fib_recursive(n-1) + fib_recursive(n-2)

In [10]:
[fib_recursive(n) for n in range(8)]

[0, 1, 1, 2, 3, 5, 8, 13]

# 39. Python Program to Check Armstrong Number

A positive integer is called an Armstrong number of order **`n`** if

```python
abcd... = an + bn + cn + dn + ...
```

In case of an Armstrong number of 3 digits, the sum of cubes of each digit is equal to the number itself. For example:

```python
153 = 1*1*1 + 5*5*5 + 3*3*3  // 153 is an Armstrong number.
```

In [18]:
num = 153
sum = 0

In [19]:
temp = num
while temp > 0:
    digit = temp % 10 # gets last number
    sum += digit ** 3
    temp = temp // 10 # except last number gives remaining number

In [20]:
if sum == num:
    print(f"The number {num} is armstrong number")
else:
    print(f"The number {num} is not armstrong number")

The number 153 is armstrong number

In [21]:
# check num length and pass it dynamically
num = 153
sum = 0

In [23]:
order = len(str(num))
order

3

In [24]:
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** order
    temp = temp // 10

In [25]:
sum

153

# 40. Python Program to Find Armstrong Number in an Interval

In [30]:
lower = 90
upper = 1500

In [31]:
for num in range(lower, upper):
    # find order
    order = len(str(num))
    
    # Initialize sum
    sum = 0
    temp = num
    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp = temp // 10
    
    if sum == num:
        print(num)

153
370
371
407

# 41. Python Program to Find the Sum of Natural Numbers

In [43]:
num = 19
sum = 0

In [44]:
if num < 0:
    print("Please enter positive number")
else:
    while num > 0:
        sum += num
        num -= 1

In [45]:
sum

190

>**Note:** To test the program for a different number, change the value of **`num`**.

**Explanation:**

Initially, the **`sum`** is initialized to 0. And, the number is stored in variable **`num`**.

Then, we used the **`while`** loop to iterate until **`num`** becomes zero. In each iteration of the loop, we have added the **`num`** to **`sum`** and the value of **`num`** is decreased by 1.

We could have solved the above problem without using a loop by using the following formula.
n*(n+1)/2
For example, if n = 16, the sum would be (16*17)/2 = 136.
Your turn: Modify the above program to find the sum of natural numbers using the formula below.

# 42. Python Program to Iterate Over Dictionaries Using for Loop

In this example, you will learn to iterate over dictionaries using **`for`** loop.

In [46]:
d = {'a': 'time','b': 'money','c': 'health'}
d

{'a': 'time', 'b': 'money', 'c': 'health'}

In [47]:
# access keys and values using items()
for key, value in d.items():
    print(f"{key} : {value}")

a : time
b : money
c : health

In [48]:
# dictionary comprehension
{key: value for key, value in d.items()}

{'a': 'time', 'b': 'money', 'c': 'health'}

In [50]:
# access key and value using items
for key in d:
    print(f"{key} : {d[key]}")

a : time
b : money
c : health

In [51]:
# return keys and values explicitly
for key in d.keys():
    print(key)

a
b
c

In [52]:
for value in d.values():
    print(value)

time
money
health

# 43. Python Program to Reverse a Number

In [66]:
num = 123456789
reverse = 0

In [67]:
temp = num

In [69]:
while temp > 0:
    remainder = temp % 10
    reverse = reverse * 10 + remainder
    temp = temp // 10

In [70]:
reverse

987654321

In [73]:
# using string slicing
int(str(num)[::-1])

987654321